.char-card{
  text-align: center;
  justify-content: center;
}

  
  .lista-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  

  
 
  
  .char-card img {
    width: 15%;
  }
  
  .char h2 {
    padding: 15px;
  }
  
  .char-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .char-info span {
    padding: 5px;
  }
  
  .lista-secundaria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background-color: greenyellow;
  }
  
  
  
  li img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: aliceblue;
    justify-content: center;
  }
  
  h5 {
    padding: 15px;
    text-align: center;
  }
  
  h1, h2, h4, h5 {
      margin: 0;
  }

.lista-ep{
  background-color: greenyellow;
  margin-bottom: 20px;
}
